@import "src/app/globals.css";

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;

  #left {
    border-right: 1px solid var(--primary-border);

    &, + #right {
      width: 50%;
      margin: auto 0;
    }

    #form-lrft {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3em;
      height: 75vh;
      width: 70%;
      margin: 0 auto;

      input,
      select {
        background-color: var(--secondary-color);
        border: 0;
        width: 90%;
        padding: 2rem 6rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        margin-right: auto;

        &:focus-within {
          border-radius: 2rem 2rem 0 0;
        }

        &[type="submit"] {
          width: fit-content;
          cursor: pointer;
        }
      }

    }
  }

}
