@import "src/app/globals.css";

#tableview {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  margin-bottom: 10em;

  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-weight: bold;
    text-transform: uppercase;

    td, th {
      border: 1px solid var(--primary-border);
      padding: 0.5rem;
    }

    th {
      background-color: var(--accent-color);
      color: var(--white);
      position: sticky;
      top: 0;
    }

    tr:nth-of-type(2n + 1) {
      background-color: var(--secondary-color);
    }
  }
}

.absent {
  color: #AA0000;
}

